body {
    background-color: #F0E6D6;
    margin: 0px;
    max-width: auto;
    max-height: auto;

    
    .homepage {
        display: block;
        #background {
            width: 135%;
            height: 135%;
            background: url(/img/cover.gif), lightgray 50% / cover no-repeat;
            background-size: cover;
            position: fixed;
            left: -15%;
            top: -15%;
            z-index: -1;
        }
        #logo {
            position: absolute;
            top: 20px;
            left: 22.5px;
            width: auto;
            height: 125px;
        }
        width: 100%;
        height: 100%;
        h1 { 
            position: absolute;
            top: 33%; left: 33%;
            width: 500px;
            font-family: Sansita;
            font-size: 75px;
            font-style: italic;
            font-weight: 900;
            line-height: normal;
            text-align: center;
            color: #493424;
            word-wrap: break-word;
        }
        #arrow {
            position: absolute;
            bottom: 20px;
            right: 10px;
            width: 100px;
            height: 100px;
        }
    }


    .step1 {
        display: grid;
        height: 100vh;
        justify-content: space-between;
        header {
            margin: 20px 45px;
            height: 7vh;
            width: auto;

            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            height: 77vh;

            aside {
                order: 1;
                margin: 0px;
                width: 45%;
                height: 100%;

                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;

                .instructions {
                    margin: 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;

                    h2 {

                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }

                    p {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }


    .step2 {
        display: grid;
        height: 100vh;
        header {
            margin: 20px 45px;
            height: 7vh;
            width: auto;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            height: 77vh;
            justify-content: space-between;
            aside {
                order: 1;
                margin: 0px;
                width: 45%;
                height: 100%;
                img {
                    max-width: 100%;
                    max-height: 100%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;
                .instructions {
                    margin: 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;
                    h2 {

                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }
                    p {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }

    .step3 {
        display: grid;
        height: 100vh;
        header {
            margin: 20px 45px;
            height: 7vh;
            width: auto;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 77vh;
            aside {
                order: 1;
                margin: 0px;
                width: 50%;
                height: 100%;
                img {
                    max-width: auto;
                    max-height: 100%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;
                .instructions {
                    margin: 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;
                    h2 {
                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }
                    p {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }

    .step4 {
        display: grid;
        height: 100vh;
        header {
            margin: 20px 45px;
            height: max-content;
            width: auto;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 77vh;
            aside {
                order: 1;
                margin: 0px;
                width: 50%;
                height: 100%;
                img {
                    height: 90%;
                    max-width: 100%;
                    max-height: auto;
                    border-radius: 3.5625rem;
                    border: 12px solid #493424;
                    margin-left: 15%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;
                .instructions {
                    margin: 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;
                    h2 {
                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }
                    p,
                    ul {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }

    .step5 {
        display: grid;
        height: 100vh;
        header {
            margin: 20px 45px;
            height: max-content;
            width: auto;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 77vh;
            aside {
                order: 1;
                margin: 0px;
                width: 50%;
                height: 100%;
                img {
                    width: 90%;
                    max-width: 100%;
                    max-height: auto;
                    border-radius: 3.5625rem;
                    border: 12px solid #493424;
                    margin-left: 10%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;
                .instructions {
                    margin: 10% 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;
                    width: 70%;
                    h2 {
                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }
                    p,
                    ul {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }

    .step6 {
        display: grid;
        height: 100vh;
        justify-content: space-between;
        header {
            margin: 20px 45px;
            height: max-content;
            width: auto;
            nav {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                align-items: center;
            }
        }
        content {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 77vh;
            aside {
                order: 1;
                margin: 0px;
                width: 50%;
                height: 100%;
                img {
                    height: 90%;
                    max-width: auto;
                    max-height: 100%;
                    border-radius: 3.5625rem;
                    border: 12px solid #493424;
                    margin-left: 17%;
                }
            }
            section {
                display: grid;
                order: 2;
                width: 55%;
                height: 100%;
                .instructions {
                    margin: 15%;
                    align-content: center;
                    height: max-content;
                    color: #493424;
                    width: 70%;
                    h2 {
                        font-size: 50px;
                        font-family: Sansita;
                        font-weight: 700;
                        letter-spacing: 4px;
                    }
                    p,
                    ul {
                        font-size: 30px;
                        font-family: Roboto Flex;
                        font-weight: 450;
                        line-height: 1.6;
                        text-align: left;
                        margin-left: 60px;
                    }
                }
            }
        }
    }
}