body {
    background-color: #F0E6D6;
    margin: 0px;
}

#homepage {
    display: block;
    max-height: 100%;
    position: relative;
}

#background {
    background: url(/img/cover.gif), lightgray 50% / cover no-repeat;
    min-height: 100%;
    max-width: 100%;
    background-attachment: fixed;
    z-index: -1;
}

#logo {
    position: absolute;
    top: 20px;
    left: 22.5px;
    width: auto;
    height: 125px;
}

h1 {
    position: absolute;
    top: 33%;
    left: 33%;
    width: 500px;
    font-family: Sansita;
    font-size: 75px;
    font-style: italic;
    font-weight: 900;
    line-height: normal;
    text-align: center;
    color: #493424;
    word-wrap: break-word;
}

#arrow {
    position: absolute;
    bottom: 20px;
    right: 10px;
    width: 100px;
    height: 100px;
}

.step {
    display: flex;
    width: 100vw; /* Adjust as needed */
    flex-direction: row;
    max-height: 100vh;
}
#homepage {
    height:100vh;   
}

#current {
    display: block;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}

#step1,
#step2,
#step3,
#step4,
#step5,
#step6 {
    display: block;
}

header {
    width: auto;
    margin: 20px;
}

button {
    margin: 0px;
    padding: 0px;
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

content {
    display: flex;
    position: relative;
    bottom: 0px;
    flex-direction: row;
    height: 85vh;
}

aside {
    margin: 0px;
    width: 45%;
    max-height: 100%;
    display: flex;
}

aside img {
    max-width: 100%;
    max-height: 100%;
}

section {
    display: grid;
    width: 55%;
    height: 100%;
}

.instructions {
    margin: 15%;
    align-content: center;
    height: max-content;
    color: #493424;
}

h2 {
    font-size: 50px;
    font-family: Sansita;
    font-weight: 700;
    letter-spacing: 4px;
}

p {
    font-size: 30px;
    font-family: Roboto Flex;
    font-weight: 450;
    line-height: 1.6;
    text-align: left;
    margin-left: 60px;
}

ul {
    font-size: 30px;
    font-family: Roboto Flex;
    font-weight: 450;
    line-height: 1.6;
    text-align: left;
    margin-left: 60px;
}

.gifStep {
    align-content: center;
    justify-content: center;
}

#gif {
    object-fit: width;
    max-width: 80%;
    border-radius: 3.5625rem;
    border: 12px solid #493424;
}
